.footer {
    height: 150px;
    background-color: #0c0c0d;
}
.footer p {
    font-family: 'Source Sans Pro';
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
.github-icon {
    height: 35px;
    width: auto;
    transition: ease-in-out 0.2s;
}
.github-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.github-icon path {
    fill: #fff;
}
.social-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
